{% include 'sitio/cabecera.html' %}

<div class="row">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://pladlibroscl5.cdnstatics.com/usuaris/libros/fotos/348/m_prensa/347042_el-libro-negro-de-las-horas_9788408252856_3d_202111260954.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">El libro negro de las horas</h4>
                    <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://www.planetadelibros.cl/libro-el-libro-negro-de-las-horas/347042" role="button">descarga</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="holder.js/100x180/" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/60-principito-1640110751.jpg?crop=1xw:0.9416015625xh;center,top&resize=480:*" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">El principito</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="#" role="button">descarga</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="holder.js/100x180/" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% include 'sitio/pie.html' %}	